.dashboard-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.dashboard-record-panel {
  min-width: 240px;
  margin: 0 25px;
}

.dashboard-record-panel:first-of-type {
  margin-left: 0;
}

.dashboard-record-panel:last-of-type {
  margin-right: 0;
}